# homeassistant.components.sun
astral==1.3.3

# homeassistant.components.discovery
netdisco==0.8.1

# homeassistant.components.light.hue
phue==0.9

# homeassistant.components.sensor.darksky
python-forecastio==1.3.5
